* {
  box-sizing:border-box;
}

body {
  font-size: 25px;
  font-weight: 400;
  font-family: 'Patrick Hand SC', cursive; 
  }

.container {
  margin: 5px;
  }


.homeHeader {
  text-align: center;
  padding-top:30px;
}
.homeGreet {
  background-color: #6fff6f;
  width: 100vw;
}

.homeConnect {
  text-align: center;
}

.hero {
  font-size: 75 px;
  text-align: center;
  margin: 0 40px;
} 

pre {
  tab-size: 8;
}

.side-collapse-container {
  width:100%;
  position:relative;
  left:0;
  transition:left .4s;
}

.side-collapse-container.out {
  left:200px;
}

.side-collapse {
  top:50px;
  bottom:0;
  left:0;
  width:200px;
  position:fixed;
  overflow:hidden;
  transition:width .4s;
}
          
.side-collapse.in {
  width:0;
}

.navbar {
  color: white;
 
 }

.subHeader {
  text-align: center;
}
  
.angular-google-map-container { 
  height: 400px;
}

.successSto {
  padding:8px;
  font-style: italic;
  }

.successBody {
  padding: 5px;
  }

.moveDown {
  margin-top: 20%;
  margin-left: -20px;
 }


 .animalPic>img {
  height:130px;
  width: 130px;
  float:right;
  padding-right: 5px;
  border-radius:100%;

  }

  .animalName {
    margin-top: 5px;
    text-align:center;
    font-weight:bold;
  }
  
  .animalSto {
    background-color:lightgray;
  }

  .userInfo {
    text-align:center;
    width: 85%;
    display: block;
    margin: 0 auto;
  }

  .userInfo input {
    font-size: 20px !important;
  }
  
  .submitButton {
    padding: 5px;
  }

  .FoundAnimalCard{
    background-color: #6496F6;
    padding: 2%;
    margin-left: 1%;
  }
  .LostAnimalCard{
    background-color: #f26262;
    padding: 2%;
    margin-left: 1%;
  }

  .ngRepeat{
    padding-left: 0;
  } 

  #searchBar{
    width: 100vw;
    border: 2px solid black;
    margin: 2% 0 0;
  }

  .filterBtn{
    width: 31vw;
  }
  
  li {
  list-style: none !important;
  padding-top: 10px;
}
  .coloredSuccess{
    background-color: #6fff6f;
    width: 100vw;
    margin-left: -5px;
    padding-bottom: 1%;
}

.animalHero, .helpHero {
  padding: 8px;
  margin: 8px;
}
  
.helpCont {
  font-family: 'Archivo Narrow', sans-serif;
  }

.helpResource {
  text-align: center;
  font-weight: bold;
}

.helpImage>img {
  width: 50px !important;
  height:50px !important;
  padding: 5px;
  margin: 5px;
 }