* {
  box-sizing:border-box;
}

body {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Open Sans', 'sans-serif';
}

.hero {
  font-size: 65 px;
  text-align: center;
  margin: 0,40px;
}

.petNav {
    background-color: darkred;
    padding-top: 10px;
  }

.petNavItems a {
  color: white;
  padding: 0 20px;
  font-weight: bold;
  font-size: 20px;
  display: inline;
 }
 .petNavItems li {
   display:inline;
 }

.subHeader {
  text-align: center;
}
  
.angular-google-map-container { 
  height: 400px;
}

 .homeBody {
   /*background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVcrrQnjVVFZwQ3FTAruevW_y1CnXwGCKgDjty2_dwkwnWsoutIQ");
   background-repeat: no-repeat;
   background-size: contain;*/
 } 
  .homeSuccess {
padding: 5px;
margin: 5px;
  }

   .success1, .success2 {
padding:8px;
  }

  .successBody {
padding: 5px;
  }
