* {
  box-sizing:border-box;
}

body {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Open Sans', 'sans-serif';
}

.hero {
  font-size: 65 px;
  text-align: center;
  margin: 0,40px;
}

.petNav {
    background-color: darkred;
    padding-top: 10px;
  }

.petNavItems a {
  color: white;
  padding: 0 20px;
  font-weight: bold;
  font-size: 20px;
 }

.subHeader {
  text-align: center;
}

 .homeBody {
   /*background-image:url("https://www.bls.gov/opub/btn/volume-2/images/2-16-image.jpg");*/
 } 
  .homeSuccess {
padding: 5px;
margin: 5px;
  }

   .success1, .success2 {
padding:8px;
  }

  .successBody {
padding: 5px;
  }
