<div class="container">
  <div class="row moveDown ">

    <h1 class="hero">FOUND...</h1>

    <div ng-controller="lostController" ng-cloak>
      <ul class="ngRepeat" ng-repeat="animal in animals | filter: 'Found'">

        <div class="foundAnimalCard">
          <h2 class="animalName">{{ animal.name }}</h2>
          <div class="animalPic"><img src=".\images\Sheepdog.jpg" alt="Jack's Pic"></div>

          <div class="animalInfo">

            <div class="animalId">
              <p>Id: {{ animal.id }}</p>
            </div>
            <div class="animalBreed">
              <p>{{ animal.breed }}</p>
            </div>
            <div class="animalColor">
              <p>{{ animal.color }}</p>
            </div>
            <div class="animalDate">
              <p>Date Lost: {{ animal.date | date: shortDate}}</p>
            </div>
            <div class="animalLocation">
              <p>Location: {{ animal.location }}</p>
            </div>
            <div class="animalDesc">
              <p>Description: " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis sunt saepe qui at ab nostrum
                dicta necessitatibus ducimus voluptatibus sed quidem ipsum, rerum voluptates distinctio cum fuga. Voluptates
                modi, sequi."</p>
            </div>
          </div>
        </div>
    </div>
    </ul>
  </div>

  <div class="animalSto">

    <h2 class="animalName">JACK</h2>
    <div class="animalPic"><img src=".\images\Timtim.jpg" alt="Jack's Pic"></div>

    <div class="animalInfo">

      <div class="animalId">
        <p>Id: 2</p>
      </div>
      <div class="animalBreed">
        <p>Jack Rat Terrier</p>
      </div>
      <div class="animalColor">
        <p>Brown and white</p>
      </div>
      <div class="animalDate">
        <p>Date Found: 6-6-2017</p>
      </div>
      <div class="animalLocation">
        <p>Location: Riverside, CA</p>
      </div>
      <div class="animalDesc">
        <p>Description: " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis sunt saepe qui at ab nostrum dicta
          necessitatibus ducimus voluptatibus sed quidem ipsum, rerum voluptates distinctio cum fuga. Voluptates modi, sequi."</p>
      </div>
    </div>
  </div>


  <div class="animalSto">

    <h2 class="animalName">Pretty Boy</h2>
    <div class="animalPic"><img src=".\images\boxturtle.jpg" alt="Pretty Boy's' Pic"></div>

    <div class="animalInfo">

      <div class="animalId">
        <p>Id: 2</p>
      </div>
      <div class="animalBreed">
        <p>Box Turtle</p>
      </div>
      <div class="animalColor">
        <p>Green</p>
      </div>
      <div class="animalDate">
        <p>Date Found: 5-16-2017</p>
      </div>
      <div class="animalLocation">
        <p>Location:Tustin, CA</p>
      </div>
      <div class="animalDesc">
        <p>Description: " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis sunt saepe qui at ab nostrum dicta
          necessitatibus ducimus voluptatibus sed quidem ipsum, rerum voluptates distinctio cum fuga. Voluptates modi, sequi."</p>
      </div>
    </div>
  </div>



  <div class="animalSto">

    <h2 class="animalName">CALLIE</h2>
    <div class="animalPic"><img src=".\images\Tabby Cat.jpg" alt="Callie's Pic"></div>

    <div class="animalInfo">

      <div class="animalId">
        <p>Id: 4</p>
      </div>
      <div class="animalBreed">
        <p>Tabby</p>
      </div>
      <div class="animalColor">
        <p>Grey & white</p>
      </div>
      <div class="animalDate">
        <p>Date Found: 6-1-2017</p>
      </div>
      <div class="animalLocation">
        <p>Location: Orange, CA</p>
      </div>
      <div class="animalDesc">
        <p>Description: " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis sunt saepe qui at ab nostrum dicta
          necessitatibus ducimus voluptatibus sed quidem ipsum, rerum voluptates distinctio cum fuga. Voluptates modi, sequi."</p>
      </div>
    </div>
  </div>


  <div class="animalSto">

    <h2 class="animalName">BIFF</h2>
    <div class="animalPic"><img src=".\images\Chihuahua.jpg" alt="Biff's Pic"></div>

    <div class="animalInfo">

      <div class="animalId">
        <p>Id: 13</p>
      </div>
      <div class="animalBreed">
        <p>Chihuahua</p>
      </div>
      <div class="animalColor">
        <p>Brown and tan</p>
      </div>
      <div class="animalDate">
        <p>Date Found: 5-30-2017</p>
      </div>
      <div class="animalLocation">
        <p>Location: Laguna Hills, CA</p>
      </div>
      <div class="animalDesc">
        <p>Description: " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis sunt saepe qui at ab nostrum dicta
          necessitatibus ducimus voluptatibus sed quidem ipsum, rerum voluptates distinctio cum fuga. Voluptates modi, sequi."</p>
      </div>
    </div>
  </div>


  <div class="animalSto">

    <h2 class="animalName">Baxter</h2>
    <div class="animalPic">
      <img src=".\images\Hairless cat.jpg" alt="Baxter's Pic">

    </div>

    <div class="animalInfo">

      <div class="animalId">
        <p>Id: 11</p>
      </div>
      <div class="animalBreed">
        <p>Sphynx</p>
      </div>
      <div class="animalColor">
        <p>Grey and white</p>
      </div>
      <div class="animalDate">
        <p>Date Found: 5-28-2017</p>
      </div>
      <div class="animalLocation">
        <p>Location: Santa Ana, CA</p>
      </div>
      <div class="animalDesc">
        <p>Description: " Lorem ipsum dolor sit amet, consectetur UGLY adipisicing elit. Corporis sunt saepe qui at ab nostrum
          UGLY dicta necessitatibus ducimus voluptatibus sed quidem ipsum, UGLY rerum voluptates distinctio cum fuga. Voluptates
          modi, UGLY sequi."
        </p>
      </div>
    </div>
  </div>


</div>
</div>