<div class="container helpCont">
  <div class="help moveDown">

    <h1 class="hero helpHero">?What Do I Do If I Lose My Pet?</h1>
    <ul class=“fa-ul”>
      <li><i class="fa fa-paw" aria-hidden="true"></i><b>  Getting the word out early</b> is the key to getting your dog or cat back
        safely and soundly. Don’t assume your pet will return on his own in a few hours. Don’t wait around to see if he’ll
        find his way home. As soon as you are aware that your pet is missing, GET THE WORD OUT. Remember, have good, clear
        photos on hand just in case, and ALWAYS make sure your dogs and cats are wearing a collar with identification tags.
        Microchipping is an excellent form of identification, but always make sure your pet has a visible collar and tags.
      </li>

      <li><i class="fa fa-paw" aria-hidden="true"></i><b>  Make posters, and lots of them.</b> Keep it simple: “LOST DOG (or cat, bird, antelope)!” should
        be at the top in large, easy to read, (even from a moving vehicle) bold letters. Then include a brief description
        or breed type: “Beige, wire-haired terrier ” or “Striped grey and black short-haired cat “. Don’t assume that people
        will know your particular pure breed, so always include a description. Include the animal’s name, it may make it
        easier for someone to call your pet over and capture him, and it also makes your pet into a valued member of your
        family, and not just another lost animal statistic. Offer a reward, don’t state how much in the ad, and include your
        telephone number in large numbers at the bottom of the poster.
      </li>

      <li><i class="fa fa-paw" aria-hidden="true"></i>  Make dozens of index cards with the same information as above, and go
        to every home, in every direction from the site of where your pet disappeared, and give a card, or stick a card under
        doors or on windshields. <b>Stop and speak with every person you encounter</b> –the more people know about your lost pet,
        the more likely the one person who spots him will call you. Your pet may be frightened, ask people to please check
        their barns and sheds, especially at night.
      </li>

      <li><i class="fa fa-paw" aria-hidden="true"></i><b>  Place a “Lost ” ad in your local newspaper</b> the very first morning your
        pet is gone. These ads are usually free.
      </li>

      <li><i class="fa fa-paw" aria-hidden="true"></i><b>  GET THE WORD OUT!</b> The more people know you have lost a pet, and that you
        are upset, worried and desperately trying to find your pet, the more people will call you if they see an animal in
        the woods or on the road, or in their backyard. Get out and call for your pet by name. Enlist family and friends
        to canvas the neighborhood, in all directions, on the roads and as the crow flies. Don’t try to predict where your
        pet could or wouldn’t have gone –YOU NEVER KNOW. The best time to call for your pet is at night, and at dawn. If
        you are calling from your car, drive slowly, roll down all the windows, stop and turn your vehicle off frequently
        to listen.
      </li>

      <li><i class="fa fa-paw" aria-hidden="true"></i><b>  Call all your neighbors personally.</b>
      </li>

      <li><i class="fa fa-paw" aria-hidden="true"></i><b>  Call all veterinary clinics</b>, including emergency veterinary hospitals
        outside your local area. Sometimes people pick up a stray and drive it to a distant clinic. Call all animal shelters
        and animal control and dog control officers, all local police and state troopers, all local kennels, the highway
        department, dog training clubs, grooming shops get the word out.
      </li>

      <li><i class="fa fa-paw" aria-hidden="true"></i><b>  Visit all local dog pounds and animal shelters</b>, don’t rely on their information,
        go through and look at all dogs and cats, DAILY.
      </li>

      <li><i class="fa fa-paw" aria-hidden="true"></i>
        <b> Don‘t give up!</b>
      </li>

      <li><i class="fa fa-paw" aria-hidden="true"></i>  Dogs and cats often wander far away, and do things you wouldn’t predict
        they would do.<b> Try everything, look everywhere, tell everyone.</b> You’d be surprised how many people will be supportive,
        will get out and help you look, will offer words of encouragement and hope, will suggest places to look that other
        stray animals have gone.
      </li>

      <li><i class="fa fa-paw" aria-hidden="true"></i>  Even the friendliest and most social pet may quickly become terrified
        and wild. Your own friendly pet, when lost, may hide from people, run away if he sees a person, he may even run away
        from you.<b> Don’t chase after a lost pet </b>–they are much faster than we are and you’ll only scare them more. Instead,
        sit on the ground; talk in normal tones, repeating his name and familiar phrases over and over again. A frightened
        animal will usually stick around, and after a few minutes or hours, come closer and closer.
      </li>

      <li><i class="fa fa-paw" aria-hidden="true"></i>  In rare cases, <b>you may need to rent or purchase a Humane Live trap</b>, and
        set it to capture a terrified lost pet. Local animal shelters often rent or loan these, and will have an appropriate
        size for a dog or a cat.
      </li>

      <li><i class="fa fa-paw" aria-hidden="true"></i> <b> Again, DON’T GIVE UP! </b>Be aggressive in your search, get lots of help,
        get the word out right away – don’t wait a few hours “to see if he’ll come home on his own “– you need those early
        hours to put up posters and give out cards.
      </li>
    </ul>
  </div>
  <div>