<div class="container">
  <div class="row moveDown ">

    <div class="homeGreet">
      <div class="homeHeader">
        <img src=".\images\homeBackground.png">
      </div>

      <div class="homeBackground">
        <h1 class="hero">Welcome Home </h1>
        <h2 class="subHeader">Pet Finder</h2>
        <h3 class="homeConnect"> Connecting lost pets with their people.</h3>
      </div>
    </div>

    <div class="homeSuccess">
      <div class="successSto">
        <p>"I couldn't believe that Gypsy was gone! She wandered miles from home. I never would have found her without the help
          of Welcome Home!"</p>
      </div>
      <div class="successOwn">
        <p>Jack P, owner of Gypsy</p>
      </div>

      <div class="homeGreet">
        <div class="successSto">
          <p>"Ralphie's a little crazy! I found him once and may need to use your website again. Thanks for being around."</p>
        </div>
        <div class="successOwn">
          <p>Susan J, owner of Ralphie</p>
        </div>
      </div>
    </div>
  </div>
</div>