<div class="homeHeader container">
  <div class="row moveDown">
    <div class="homeBackground">
      <h1 class="hero">Welcome Home </h1>
    <h2 class="subHeader">Pet Finder</h2>
    </div>
    <div class="container">
      <div class="homeSuccess">
      <div class="successSto">
        <p>"I couldn't believe that Gypsy was gone! She wandered miles from home. I never would have found her without the help
          of Welcome Home!"</p>
        <p>Jack P, owner of Gypsy</p>
      </div>
      <div class="successSto">
        <p>"Ralphie's a little crazy! I found him once and may need to use your services again. Thanks for being around."</p>
        <p>Susan J, owner of Ralphie</p>
      </div>
    </div>
  </div>
</div>
</div>