<div class="container">
  <div class="row moveDown">

    <h1 class="hero">Here are some of our happy endings...</h1>
    <div class="successBody">

      <div class="coloredSuccess">
        <div class=successSto>
          <p>"I couldn't believe that Gypsy was gone! She wandered miles from home. I never would have found her without the
            help of Welcome Home!"</p>
        </div>
        <div class="successOwn">
          <p>-Jack P, owner of Gypsy</p>
        </div>
      </div>

      <div class=successSto>
        <p>"Ralphie's a little crazy! I found him once, and may need to use your website again. Thanks for being around."</p>
      </div>
      <div class="successOwn">
        <p>-Susan J, owner of Ralphie</p>
      </div>

      <div class="coloredSuccess">
        <div class="successSto">
          <p>"Lorem ipsum dolor sit amet, reunited, and it feels so good! consectetur adipisicing elit. Ea culpa, nobis veritatis
            debitis quidem necessitatibus a, nostrum eaque delectus amet quisquam molestias. Ducimus, reprehenderit soluta
            neque! Nemo atque recusandae, nulla."
          </p>
        </div>
        <div class="successOwn">
          <p>-Crazy Cat Lady</p>
        </div>
      </div>


      <div class="successSto">
        <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem odio recusandae esse totam, nostrum in,
          reunited and it feels so good temporibus ad minima. Animi aliquid ab explicabo voluptatibus autem consectetur ratione
          beatae, a illum amet."</p>
      </div>
      <div class="successOwn">
        <p>-Dog Diva</p>
      </div>

      <div class="coloredSuccess">
        <div class="successSto">
          <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque excepturi necessitatibus quod quia maiores? Hic
            deleniti earum asperiores, reunited, and it feels so good! aliquid veritatis, dolorum nihil itaque perferendis
            commodi ipsam ratione, possimus soluta obcaecati."</p>
        </div>
        <div class="successOwn">
          <p>-Rad Reptile Guy</p>
        </div>
      </div>
    </div>
  </div>
</div>